.page-title,
.page-title:link,
.page-title:hover,
.page-title:visited,
.page-title:active {
  padding: 0.5rem;
  color: #FCA311;
  width: 100%;
  font-family: "Cheque-Regular";
  src: url("Cheque-Regular.ttf") format("truetype");
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  text-shadow: -6px 6px #000000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

