.page-title,
.page-title:link,
.page-title:hover,
.page-title:visited,
.page-title:active {
  display: grid;
  padding: 0.5rem;
  color: #bd8f00;
  width: 100%;
  font-family: "Cheque-Regular";
  src: url("Cheque-Regular.ttf") format("truetype");
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  text-shadow: -6px 6px #000000;
  grid-area: 1 / 1 / 3 / 10;
}

.header {
  border: 3px solid black;
  background-color: #8a8a8a;
}
