.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Alegreya SC", serif;
  align-content: center;
  flex-direction: column;
  font-size: 27px;
  letter-spacing: 5px;
  background-color: #8a8a8a;
  color: #000000;
  border: 3px solid black;
}
